/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

/* header nav container */
header {
    background-color: #0e2b3b;
    color: #fff;
    padding: 1rem;
}

/* Estilos para a barra de navegação */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para o nome do logo */
.logo h1 {
    font-size: 2.5rem;
    margin: 0;
    margin-left: 3rem;
}

/* Estilos para a navegação */
nav {
    display: flex;
    justify-content: right;
    margin-right: 3.5rem; /* Centraliza os itens dentro da navegação */
    letter-spacing: 1.5px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 1.5rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem; /* Aumentando o tamanho da fonte */
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ccc;
}

/* Estilos para a seção de Boas-Vindas */
#boas-vindas {
    padding: 3rem 2rem;
    background-color: #e0e0e0;
    text-align: center;
}

.boas-vindas-container h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.boas-vindas-container p {
    font-size: 1.2rem;
    line-height: 1.6;
}


/* Estilo para a seção de Boas-Vindas */
.boas-vindas-container {
    text-align: center;
    padding: 50px 20px;
}

/* Estilo para a imagem na seção de Boas-Vindas */
.imagem-boas-vindas {
    margin-top: 20px; /* Ajuste conforme necessário */
}

.imagem-boas-vindas img {
    max-width: 100%; /* Garante que a imagem não ultrapasse o contêiner */
    height: auto;
    border-radius: 50%; /* Exemplo de estilo para arredondar a imagem */
}

/* Estilos para a seção Sobre Mim */
#sobre {
    padding: 2rem;
    background-color: #0e2b3b;
    color: white;
}

.sobre-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto {
    flex: 1;
    margin-right: 2rem;
    text-align: justify;
}

.texto h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.texto p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.imagem {
    flex: 1;
    text-align: center;
}

.imagem img {
    max-width: 40%;
    height: auto;
    border-radius: 15px;
}

/* Estilos para a seção de Projetos */
.projetos-container {
    background-color: #e0e0e0;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
}

.projetos-container h2 {
    background-color: #e0e0e0;
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
}

.projeto {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.projeto h3 {
    font-size: 1.5em;
}

.projeto p {
    font-size: 1em;
    line-height: 1.6;
}

.projeto a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.projeto a:hover {
    background-color: #0056b3;
}
