/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

/* header nav container */
header {
    background-color: #0e2b3b;
    color: #fff;
    padding: 1rem;
}

/* Estilos para a barra de navegação */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para o nome do logo */
.logo h1 {
    font-size: 2.5rem;
    margin: 0;
    margin-left: 3rem;
}

/* Estilos para a navegação */
nav {
    display: flex;
   
    margin-right: 3.5rem; /* Centraliza os itens dentro da navegação */
    letter-spacing: 1.5px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 1.5rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem; /* Aumentando o tamanho da fonte */
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #acacac;
}

/* Estilos para a seção de Boas-Vindas */
#boas-vindas {
    padding: 3rem 2rem;
    background-color: #e0e0e0;
    text-align: center;
}

.boas-vindas-container h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.boas-vindas-container p {
    font-size: 1.2rem;
    line-height: 1.6;
}


/* Estilo para a seção de Boas-Vindas */
.boas-vindas-container {
    text-align: center;
    padding: 50px 20px;
}

/* Estilo para a imagem na seção de Boas-Vindas */
.imagem-boas-vindas {
    margin-top: 20px; /* Ajuste conforme necessário */
}

.imagem-boas-vindas img {
    max-width: 100%; /* Garante que a imagem não ultrapasse o contêiner */
    height: auto;
    border-radius: 50%; /* Exemplo de estilo para arredondar a imagem */
}

/* Estilos para a seção Sobre Mim */
#sobre {
    padding: 2rem;
    background-color: #0e2b3b;
    color: white;
}

.sobre-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.texto {
    flex: 1;
    margin-right: 2rem;
    text-align: justify;
}

.texto h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.texto p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.imagem {
    flex: 1;
    text-align: center;
}

.imagem img {
    max-width: 40%;
    height: auto;
    border-radius: 15px;
}

/* Estilos para a seção de Projetos */
/* styles.css */

.projetos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Colunas automáticas com largura mínima de 300px */
    gap: 20px; /* Espaçamento entre os projetos */
    margin: 0 auto; /* Centralizar o contêiner */
    max-width: 1200px; /* Definir largura máxima do contêiner */
}

.projeto {
    background-color: #e0e0e0; /* Cor de fundo do projeto */
    padding: 20px;
    border-radius: 8px; /* Borda arredondada */
    margin-top: 20px; /* Espaçamento superior */
}

.projetos {
    text-align: center; /* Centraliza o conteúdo horizontalmente */
}

.projetos h2 {
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
}

.projeto h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.projeto p {
    font-size: 16px;
    margin-bottom: 15px;
}

.ver-projetos {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    font-size: 16px;
}

.ver-projetos:hover {
    transform: scale(1.1);
    background-color: #0056b3;
}

.projeto a {
    text-decoration: none;
}


/* Estilos para o botão "voltar ao topo" */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #1d5879;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: opacity 0.3s ease;
    opacity: 0;
    visibility: hidden;
    font-size: 30px; /* Ajuste o tamanho do ícone */
}

.back-to-top:hover {
    background-color: #0056b3;
}

.back-to-top.show {
    opacity: 1;
    visibility: visible;
}

/* Estilo para a seção de habilidades */
/* Estilo para a seção de habilidades */
/* Estilo para a seção de habilidades */
#habilidades {
    background-color: #0e2b3b;
    color: #fff;
    padding: 50px 0;
    text-align: center; /* Centraliza o conteúdo */
}

.habilidades-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Distribui as habilidades ao redor */
}

.habilidade {
    width: calc(33.33% - 20px); /* Calcula o tamanho para 3 habilidades por linha */
    margin: 20px 0; /* Ajusta a margem entre as habilidades */
    text-align: right; /* alinha o texto à direita */
    box-sizing: border-box; /* Considera padding e borda dentro da largura */
    background-color: #fff; /* Cor de fundo da caixa */
    padding: 20px; /* Espaçamento interno da caixa */
    border-radius: 8px; /* Borda arredondada da caixa */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra da caixa */
}

.habilidade img {
    width: 120px; /* ajuste o tamanho da imagem conforme necessário */
    margin-bottom: 10px;
}

.habilidade h3 {
    color: #000000;
    font-size: 24px;
    margin-bottom: 10px;
}

.habilidade p {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .habilidade {
        width: calc(50% - 20px); /* Calcula o tamanho para 2 habilidades por linha em telas menores */
    }
}

