/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define o estilo do corpo e dos títulos usando a fonte Roboto */
body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

/* Estilos para o cabeçalho */
header {
    background-color: #0e2b3b; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 1rem; /* Espaçamento interno */
}

/* Estilos para o contêiner da navegação */
.nav-container {
    display: flex; /* Exibe os itens em linha */
    justify-content: space-between; /* Distribui os itens igualmente ao longo do espaço disponível */
    align-items: center; /* Centraliza verticalmente os itens */
}

/* Estilos para o nome do logo */
.logo h1 {
    font-size: 2.5rem; /* Tamanho da fonte */
    margin: 0; /* Remove as margens padrão */
    margin-left: 3rem; /* Margem à esquerda */
}

/* Estilos para a navegação */
nav {
    display: flex; /* Exibe os itens em linha */
    margin-right: 3.5rem; /* Margem à direita */
    letter-spacing: 1.5px; /* Espaçamento entre as letras */
}

/* Estilos para a lista não ordenada dentro da navegação */
nav ul {
    list-style: none; /* Remove os marcadores de lista */
    display: flex; /* Exibe os itens em linha */
}

/* Estilos para os itens da lista na navegação */
nav ul li {
    margin-left: 1.5rem; /* Margem à esquerda entre os itens */
}

/* Estilos para os links na navegação */
nav ul li a {
    color: #fff; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado do link */
    font-size: 1.2rem; /* Tamanho da fonte */
    transition: color 0.3s; /* Transição suave da cor */
}

/* Estilos para hover nos links da navegação */
nav ul li a:hover {
    color: #acacac; /* Cor do texto ao passar o mouse */
}

/* Estilos para a seção de Boas-Vindas */
#boas-vindas {
    padding: 3rem 2rem; /* Espaçamento interno */
    background-color: #e0e0e0; /* Cor de fundo */
    text-align: center; /* Centraliza o texto */
}

/* Estilos para o contêiner de boas-vindas */
.boas-vindas-container {
    text-align: center; /* Centraliza o texto */
    padding: 50px 20px; /* Espaçamento interno */
}

/* Estilos para o título da seção de Boas-Vindas */
.boas-vindas-container h2 {
    font-size: 2.5rem; /* Tamanho da fonte */
    margin-bottom: 1rem; /* Margem inferior */
}

/* Estilos para o texto na seção de Boas-Vindas */
.boas-vindas-container p {
    font-size: 1.2rem; /* Tamanho da fonte */
    line-height: 1.6; /* Altura da linha */
}

/* Estilos para a imagem na seção de Boas-Vindas */
.imagem-boas-vindas {
    margin-top: 20px; /* Margem superior */
}

/* Estilos para a imagem na seção de Boas-Vindas */
.imagem-boas-vindas img {
    max-width: 100%; /* Largura máxima */
    height: auto; /* Altura automática */
    border-radius: 50%; /* Borda arredondada */
}

/* Estilos para a seção Sobre Mim */
#sobre {
    padding: 2rem; /* Espaçamento interno */
    background-color: #0e2b3b; /* Cor de fundo */
    color: white; /* Cor do texto */
}

/* Estilos para o contêiner da seção Sobre Mim */
.sobre-container {
    display: flex; /* Exibe os itens em linha */
    flex-direction: row; /* Direção dos itens */
    align-items: center; /* Centraliza verticalmente */
    justify-content: space-between; /* Distribui os itens igualmente */
}

/* Estilos para o texto na seção Sobre Mim */
.sobre-container .texto {
    flex: 1; /* Permite que o texto ocupe a maior parte do espaço disponível */
    margin-right: 2rem; /* Margem à direita */
    max-width: 600px; /* Largura máxima */
    margin-left: 3rem; /* Margem à esquerda */
}

/* Estilos para a imagem na seção Sobre Mim */
.sobre-container .imagem {
    flex: 0 0 250px; /* Tamanho fixo para a imagem */
    max-width: 250px; /* Largura máxima da imagem */
    margin-right: 20rem; /* Margem à direita */
}

/* Estilos para a imagem na seção Sobre Mim */
.sobre-container .imagem img {
    width: 100%; /* Largura total */
    height: auto; /* Altura automática */
    border-radius: 50px; /* Borda arredondada */
}

/* Estilos para os títulos dentro do texto */
.texto h2 {
    font-size: 2rem; /* Tamanho da fonte */
    margin-bottom: 1rem; /* Margem inferior */
}

/* Estilos para os parágrafos dentro do texto */
.texto p {
    font-size: 1.1rem; /* Tamanho da fonte */
    line-height: 1.6; /* Altura da linha */
}

/* Estilos para a seção de Projetos */
#projetos {
    padding: 50px 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o conteúdo */
}

/* Estilos para o título da seção de Projetos */
#projetos h2 {
    color: #000000; /* Cor do texto */
    font-size: 32px; /* Tamanho da fonte */
    margin-bottom: 40px; /* Margem inferior */
}

/* Estilos para o contêiner dos projetos */
.projetos-container {
    display: grid; /* Exibe os itens em grid */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Colunas automáticas com largura mínima de 300px */
    gap: 20px; /* Espaçamento entre os projetos */
    justify-content: center; /* Centraliza os itens no contêiner */
    margin: 0 auto; /* Centraliza o contêiner */
    max-width: 1200px; /* Largura máxima do contêiner */
}

/* Estilos para cada projeto individual */
.projeto {
    background-color: #f4f4f4; /* Cor de fundo do projeto */
    padding: 20px; /* Espaçamento interno */
    border-radius: 8px; /* Borda arredondada */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.3s ease; /* Transição suave */
}

/* Estilos para o título dos projetos */
.projeto h3 {
    font-size: 20px; /* Tamanho da fonte */
    margin-bottom: 10px; /* Margem inferior */
}

/* Estilos para os parágrafos dos projetos */
.projeto p {
    font-size: 16px; /* Tamanho da fonte */
    margin-bottom: 15px; /* Margem inferior */
}

/* Estilos para o botão "Ver Projeto" */
.ver-projetos {
    background-color: #007bff; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Sem borda */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Cursor ao passar o mouse */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Transições suaves */
    font-size: 16px; /* Tamanho da fonte */
}

/* Estilos para o hover no botão "Ver Projeto" */
.ver-projetos:hover {
    transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
    background-color: #0056b3; /* Cor de fundo no hover */
}

/* Estilos para os links nos projetos */
.projeto a {
    text-decoration: none; /* Remove o sublinhado */
}

/* Estilos para o botão "voltar ao topo" */
.back-to-top {
    position: fixed; /* Posição fixa */
    bottom: 20px; /* Distância do fundo */
    right: 20px; /* Distância da direita */
    width: 50px; /* Largura */
    height: 50px; /* Altura */
    background-color: #1d5879; /* Cor de fundo */
    color: white; /* Cor do texto */
    border-radius: 50%; /* Borda arredondada */
    display: flex; /* Exibe os itens em linha */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    text-decoration: none; /* Remove o sublinhado */
    transition: opacity 0.3s ease; /* Transição suave */
    opacity: 0; /* Opacidade inicial */
    visibility: hidden; /* Visibilidade inicial */
    font-size: 30px; /* Tamanho da fonte */
}

/* Estilos para o hover no botão "voltar ao topo" */
.back-to-top:hover {
    background-color: #0056b3; /* Cor de fundo no hover */
}

/* Estilos para mostrar o botão "voltar ao topo" */
.back-to-top.show {
    opacity: 1; /* Opacidade ao mostrar */
    visibility: visible; /* Visibilidade ao mostrar */
}

/* Estilos para a seção de Habilidades */
#habilidades {
    background-color: #0e2b3b; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 50px 0; /* Espaçamento interno */
    text-align: center; /* Centraliza o conteúdo */
}

/* Estilos para o título da seção de Habilidades */
#habilidades h2 {
    margin-bottom: 40px; /* Margem inferior */
    font-size: 32px; /* Tamanho da fonte */
}

/* Estilos para o contêiner das habilidades */
.habilidades-container {
    display: flex; /* Exibe os itens em linha */
    flex-wrap: wrap; /* Quebra linha conforme necessário */
    justify-content: space-around; /* Distribui as habilidades ao redor */
    gap: 20px; /* Espaçamento entre as habilidades */
    max-width: 1200px; /* Largura máxima do contêiner */
    margin: 0 auto; /* Centraliza o contêiner */
}

/* Estilos para as imagens das habilidades */
.habilidade img {
    width: 200px; /* Largura */
    margin-bottom: 10px; /* Margem inferior */
}

/* Estilos para o footer */
footer {
    background-color: #fff; /* Cor de fundo */
    color: rgb(0, 0, 0); /* Cor do texto */
    padding: 1rem 0; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    width: 100%; /* Largura total */
    bottom: 0; /* Alinha ao fundo */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
    z-index: 1000; /* Z-index para sobrepor outros elementos */
}

/* Estilos para o texto dentro do footer */
footer p {
    margin: 0; /* Remove as margens padrão */
    font-size: 14px; /* Tamanho da fonte */
}
